@import "../../../assets/styles/var.scss";

.container {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

table {
  min-width: 80%;
  margin: auto;
  text-align: center;
}

.mat-header-cell {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}

.mat-row:nth-child(even) {
  background-color: $white;
}

.mat-row:nth-child(odd) {
  background-color: $red;
  & .mat-cell {
    color: $white;
  }
}

.mat-cell:first-letter {
  text-transform: uppercase;
}

.mat-row:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 5px $blue;
}

::ng-deep.mat-paginator {
  width: 80%;
  margin: auto;
}

.mat-form-field {
  font-size: 13px;
  width: 20%;

  margin-bottom: 5px;
  padding: 10px;
}

::ng-deep.mat-form-field-label {
  color: $blue !important;
}
::ng-deep.mat-form-field-underline {
  background-color: $blue !important;
}

input {
  color: $black;
}
