<!-- <button mat-raised-button (click)="testinho()">Teste</button> -->
<!-- <img src="../../../assets/icons/fas/pokeball.svg" height="45px" width="45px"> -->
<router-outlet>
<mat-form-field class="fw">
  <mat-label>Busque um pokémon aqui...</mat-label>
  <input matInput placeholder="Ex. pika, psychic, 150" type="text" class="form-control search-menu" [(ngModel)]="searchItem">
</mat-form-field>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#f3497c" type = "square-jelly-box" [fullScreen] = "true"><h3 class="textinho blue">Capturando pokémons...</h3></ngx-spinner>

<app-pokemon *ngFor="let pokemon of pokemons | filter: searchItem; let i = index" [pokemon]="pokemon"></app-pokemon>
</router-outlet>