@import "../../../assets/styles/variables.scss";

.card {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  background-color: $red;
}

.mat-card-avatar {
  pointer-events: none;
  &-image {
    pointer-events: none;
  }
  &-header {
    background-color: $white;
    padding-top: 20px;
    padding-left: 10px;
    border-radius: 5px;
    justify-content: start;
  }
  &-title {
    text-transform: uppercase;
    color: $black;
  }
  &-subtitle {
    color: $black;
  }
}

.header-image {
  background-size: cover;
}

.mat-chip {
  // Desntro deste chip, o tipo é recuperado e impresso de acordo com o arquivo png do mesmo
  background-color: $black;
  &#bug {
    background: transparent url("../../../assets/images/bug.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#dark {
    background: transparent url("../../../assets/images/dark.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#dragon {
    background: transparent url("../../../assets/images/dragon.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#electric {
    background: transparent url("../../../assets/images/electric.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#fairy {
    background: transparent url("../../../assets/images/fairy.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#fighting {
    background: transparent url("../../../assets/images/fighting.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#fire {
    background: transparent url("../../../assets/images/fire.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#flying {
    background: transparent url("../../../assets/images/flying.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#ghost {
    background: transparent url("../../../assets/images/ghost.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#grass {
    background: transparent url("../../../assets/images/grass.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#ground {
    background: transparent url("../../../assets/images/ground.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#ice {
    background: transparent url("../../../assets/images/ice.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#normal {
    background: transparent url("../../../assets/images/normal.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#poison {
    background: transparent url("../../../assets/images/poison.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#psychic {
    background: transparent url("../../../assets/images/psychic.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#rock {
    background: transparent url("../../../assets/images/rock.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#steel {
    background: transparent url("../../../assets/images/steel.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#water {
    background: transparent url("../../../assets/images/water.png") no-repeat;
    background-size: cover;
    color: transparent;
    width: 90px;
    height: 100%;
    padding-bottom: 10px;
  }
  &#typeH {
    background-color: coral;
    color: rgb(34, 34, 34);
  }
  &#typeW {
    background-color: coral;
    color: rgb(34, 34, 34);
  }
}

.mat-expansion-panel {
  background-color: coral;
  color: rgb(34, 34, 34);
  &-header-title {
    color: rgb(34, 34, 34);
  }
}
