<main class="pokemon-list">

  <div class="tool-box">
    <div class="container">
    <input type="search" #search placeholder="Pesquisar" type="text" [(ngModel)]="search.value" (keyup)="searchPokemon(search.value)" />
    <mat-form-field class="select" appearance="fill">
    <mat-label>Exibir como</mat-label>
    <mat-select [(ngModel)]="sortSelected" [name]="sortSelected">
      <mat-option *ngFor="let option of optionsSort" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
    </mat-form-field>
    </div>
  </div>

  <div class="container">
    <div *ngFor="let pokemon of sortBy('name') | filter: search.value">
      <a [routerLink]="['/pokemons', pokemon.name]">
        <mat-card class="pokemon-box">
        <img [src]='pokemon.image' [alt]="pokemon.name">
        <h2>{{pokemon.name}}</h2>
          <p>
            <strong>Tipo:</strong>
            <span *ngFor="let type of pokemon.types">
              {{ type.type.name }}
            </span>
          </p>
        </mat-card>
      </a>
    </div>
  </div>
</main>

