@import "../../../../theme.scss";

img {
	height: 3.5rem;
	object-fit: cover;
	margin-bottom: 0.5rem;
}
p {
	color: #6752b7;
	font-weight: 500;
	margin-bottom: 0;
}
span {
	font-size: 0.75rem;
	color: $color-text;
}
