header{
  margin-bottom: 100px;
  .navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #E3350D;
    color: #FFF;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    img{
      max-width: 200px;
      width: 100%;
      margin-top: 36px;
    }
    .icon{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff !important;
      cursor: pointer;
      padding: 28px;
      font-size: 48px;
      border-radius: 100px;
      outline: none;
      &:hover{
        background: #8d1e05;
        transition: 0.7s;
      }
    }
  }
}
