<mat-card class="poke-card">
  <mat-card-header class="poke-card-header">
    <div mat-card-avatar class="card-header-icon">
      <div class="id">{{ pokemon.id }}</div>
    </div>
    <mat-card-title class="textinho yellow">{{ pokemon.name }}</mat-card-title>
    <mat-card-subtitle class="poke-card-types">

      <ng-container *ngFor="let type of pokemon.types">
        <ng-container [ngSwitch]="type['type']['name']">
          <img class="icon bug" *ngSwitchCase="'bug'" src="../../../../assets/icons/pokes/types/bug.svg" title="INSETO">
          <img class="icon dark" *ngSwitchCase="'dark'" src="../../../../assets/icons/pokes/types/dark.svg" title="NOTURNO">
          <img class="icon dragon" *ngSwitchCase="'dragon'" src="../../../../assets/icons/pokes/types/dragon.svg" title="DRAGÃO">
          <img class="icon electric" *ngSwitchCase="'electric'" src="../../../../assets/icons/pokes/types/electric.svg" title="ELÉTRICO">
          <img class="icon fire" *ngSwitchCase="'fire'" src="../../../../assets/icons/pokes/types/fire.svg" title="FOGO">
          <img class="icon fairy" *ngSwitchCase="'fairy'" src="../../../../assets/icons/pokes/types/fairy.svg" title="FADA">
          <img class="icon fighting" *ngSwitchCase="'fighting'" src="../../../../assets/icons/pokes/types/fighting.svg" title="LUTADOR">
          <img class="icon flying" *ngSwitchCase="'flying'" src="../../../../assets/icons/pokes/types/flying.svg" title="VOADOR">
          <img class="icon ghost" *ngSwitchCase="'ghost'" src="../../../../assets/icons/pokes/types/ghost.svg" title="FANTASMA">
          <img class="icon grass" *ngSwitchCase="'grass'" src="../../../../assets/icons/pokes/types/grass.svg" title="GRAMA">
          <img class="icon ground" *ngSwitchCase="'ground'" src="../../../../assets/icons/pokes/types/ground.svg" title="TERRESTRE">
          <img class="icon ice" *ngSwitchCase="'ice'" src="../../../../assets/icons/pokes/types/ice.svg" title="GELO">
          <img class="icon normal" *ngSwitchCase="'normal'" src="../../../../assets/icons/pokes/types/normal.svg" title="NORMAL">
          <img class="icon poison" *ngSwitchCase="'poison'" src="../../../../assets/icons/pokes/types/poison.svg" title="VENENOSO">
          <img class="icon psychic" *ngSwitchCase="'psychic'" src="../../../../assets/icons/pokes/types/psychic.svg" title="PSÍQUICO">
          <img class="icon rock" *ngSwitchCase="'rock'" src="../../../../assets/icons/pokes/types/rock.svg" title="PEDRA">
          <img class="icon steel" *ngSwitchCase="'steel'" src="../../../../assets/icons/pokes/types/steel.svg" title="METÁLICO">
          <img class="icon water" *ngSwitchCase="'water'" src="../../../../assets/icons/pokes/types/water.svg" title="ÁGUA">
        </ng-container>
      </ng-container>

    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="poke-card-content">
    <img mat-card-image [src]="pokemon.sprite" class="poke-img">

    
    <!-- <p>
      {{ pokemon.name }} é o {{ pokemon.id }}º pokémon dos 807. 
    </p> -->
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>