<div class="container ">
    <div class="row ">
      <div class="col-md-12 d-flex justify-content-center">
  
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card shadow-lg bg-transparent rounded">
              <img class="card-img-top " src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/020.png"
                alt="Card image cap">
            </div>
            <div
              class="mt-2 w-100 text-center texto text-uppercase font-weight-bold p-2 shadow mb-3 rounded  btn-transparent btn-outline btn-block ">
              <h3>Raticate</h3>
            </div>
          </div>
        </div>
      </div>
  
  
      <!-- Primeiro Conjunto de cards -->
      <div class="card-columns mb-5 mt-5 ">
        <!-- Primeiro Card -->
        <div class="row ">
          <div class="mr-4">
            <div class="card p-2 shadow mb-3 rounded  btn-transparent btn-outline btn-block">
              <div class="card-header">
                <h5 class="card-title text-center">Mouse Pokémon</h5>
              </div>
              <div class="card-body">
                <p class="card-text text-justify">Com suas longas presas, este Pokémon surpreendentemente violento pode roer até mesmo concreto grosso com facilidade
              </div>
            </div>
          </div>
        </div>
        <!--/ Primeiro Card -->
        <div class="row ">
          <div class="mr-5 ml-4">
            <div class="card  shadow mb-3 rounded  btn-transparent btn-outline btn-block">
              <div class="card-header">
                <h5 class="card-title text-center">Perfil</h5>
              </div>
              <div class="card-body">
                <ul>
                  <li>Altura: 0,7 m</li>
                  <li>Peso: 18,5 kg</li>
                  <li>Taxa de captura: 0%</li>
                  <li>Proporção de gênero: 50% ♂ 50% ♀</li>
                  <li>Grupos de ovos: campo</li>
                  <li>Habilidades:Fuga, Hustle, Guts</li>
                  <li>Etapas de hachura: 3825</li>
                  <li>EVs: 2 velocidades</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /Primeiro Card -->
  
        <!-- Segundo Card -->
        <div class="row ">
          <div class="ml-4">
            <div class="card  shadow mb-3 rounded  btn-transparent btn-outline btn-block">
              <div class="card-header">
                <h5 class="card-title text-center">Danos ao ser atacado</h5>
              </div>
              <div class="card-body">
                <ul><li>Brigando: 2x</li>
                    <li>Fantasma: 0x</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Segundo Card -->
      <!--/Primeiro Conjunto de cards -->
    
    </div>



