@import "../../../assets/styles/variables.scss";

.mat-toolbar {
//    background-color: rgb(236, 233, 233);
    background-color: $white;
    border-radius: 4px;
    position: sticky;

}

img:hover {
    cursor: pointer;
}

body {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#topo {
  padding-top: 10px;
}

#icone {
  padding-top: 8px;
  float: right;
}

.mat-form {
  width: 100%;
  padding-top: 10px;
}

.app-panel{
  position: absolute;
  width: 100%;
  &-red.mat-select-panel {
    background: rgba(255, 0, 0, 0.5);
    &:hover {
      background: rgba(255, 0, 0, 0.5);
    }
  }
  &-green.mat-select-panel {
    background: rgba(0, 255, 0, 0.5);
  }
  &-blue.mat-select-panel {
    background: rgba(0, 0, 255, 0.5);
  }
}