<!-- <mat-toolbar>
    <mat-toolbar-row>
        <img src="../../../assets/images/pokedex.png" alt="pokedexed" width="40" height="40" (click)="home()">
    </mat-toolbar-row>
</mat-toolbar> -->

<div id="topo">
  <div id="icone">
    <img src="../../../assets/images/pokedex.png" alt="pokedexed" width="40" height="40" (click)="home()"/>
  </div>
  <div id="FormControlClass">
    <mat-form-field appearance="fill">
      <mat-label>Panel color</mat-label>
      <mat-select
        [formControl]="panelColor"
        panelClass="app-panel-{{ panelColor.value }}"
      >
        <mat-option value="red">Charizard</mat-option>
        <mat-option value="green">Venusaur</mat-option>
        <mat-option value="blue">Blastoise</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
