mat-toolbar {
  position: fixed;
  z-index: 99;
  color: white;
  &.orange {
    background: #D9430D;
  }
  &.blue {
    background: blue;
  }
  &.green {
    background: green;
  }
}
.spacer {
  flex: 1 1 auto;
}
