<mat-toolbar [ngClass]="theme">
  POKEDEX

  <div class="spacer"></div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>color_lens</mat-icon>
  </button>
  <button mat-button routerLink="/pokemon">
    <mat-icon>list</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setTheme('green')">
      <span>Bulbasaur</span>
    </button>
    <button mat-menu-item (click)="setTheme('orange')">
      <span>Charmander</span>
    </button>
    <button mat-menu-item (click)="setTheme('blue')">
      <span> Squirtle
      </span>
    </button>
  </mat-menu>
</mat-toolbar>