<div class="toolbar" role="banner">
    <a [routerLink]="['']">
        <img
        width="40"
        alt="Pokédex Icon"
        src="../../assets/pokedex-icon.png"
        />
    </a>
  
    POKEDEX - PokeAPI
</div>
  
<div class="content" role="main">
    <div class="d-flex bd-highlight" style="width: 100%;">
        <div class="p-2 flex-shrink-1 bd-highlight">
            <div class="d-flex justify-content-start">
                <button type="button" class="btn btn-info btnPages btn-sm" [routerLink]="['']"> Voltar </button>
            </div>
        </div>
        <div class="p-2 w-100 bd-highlight">
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-info btnPages btn-sm" (click)="onClickPreviousPokemon()"> < </button>
                <h5 class="card-title namePokemon">Nº {{ objPokemon?.id}} - {{ objPokemon?.name }}</h5>
                <button type="button" class="btn btn-info btnPages btn-sm" (click)="onClickNextPokemon()"> > </button>
            </div>
        </div>
      </div>
    <div class="row styleBox">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div (mouseover)="hoverPokemon=true" (mouseout)="hoverPokemon=false">
                        <span *ngIf="hoverPokemon">
                            <img src="{{objPokemon?.sprites?.back_default}}" style="width: 50%;">
                        </span>
                        <span *ngIf="!hoverPokemon">
                            <img src="{{objPokemon?.sprites?.front_default}}" style="width: 50%;">
                        </span>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="row">
                        <div class="boxBlue">
                            <div class="row">
                                <div class="col-6">
                                    <ul class="colsUl">
                                        <li>
                                            <span>Height</span>
                                            <p><span class="attribute-list">{{ objPokemon?.height| number : '.1-3' }} m</span></p>
                                        </li>
                        
                                        <li>
                                            <span>Weight</span>
                                            <p><span class="attribute-list">{{objPokemon?.weight | number : '.1-3'}} kg</span></p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="colsUl">
                                        <li class="colLi">
                                            <span class="attribute-title">Abilities</span>
                            
                                            <ul class="attribute-list">
                                
                                                <li *ngFor="let itens of objPokemon?.abilities">
                                                    <span class="attribute-list">{{itens?.ability?.name}}</span>
                                                </li>
                                
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-start">
                            <span class="namePokemon">Type</span>
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                            <div class="col-6" *ngFor="let type of objPokemon.types">
                                <p class="typeStyle p-1" [ngClass]="type?.type?.name">{{type?.type?.name}}</p>
                            </div>
                        </div>                                 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-6" *ngFor="let stats of objPokemon.stats">
            <span class="labelProgressBar">{{stats?.stat?.name}}</span>
            <div class="progress mb-1" style="width: 100%;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{width: stats?.base_stat + '%'}" aria-valuemin="0" aria-valuemax="100">{{stats?.base_stat}}%</div>
            </div>
        </div>
    </div>
</div>