<!-- Footer -->
<footer class="page-footer ftcor">

    <div class="container">
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center ">
          <h4 class="text-dark mb-1">Siga-nos nas redes sociais</h4>
        </div>
      </div>
  
      <!-- Acesso as Redes Socias -->
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
    
              <ul class="social-network">
              
               <li><a href="https://github.com/AngelaDeodato"  target="_blank"  class="icoGitHub" title="Instagram">
                 <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                </a></li>
               <li><a href="https://www.linkedin.com/in/angela-deodato/"   target="_blank" class="icoLinkedin" title="Linkedin">
                 <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                </a></li>
              </ul>
      </div>
      </div>
<!--/Acesso as Redes Socias -->

      <div class="footer-copyright text-center font-weight-bold">
        <span class="text-dark"> © 2020 Copyright: </span>
        <a class="text-dark">Usucampeao.com.br</a>
    </div>
    
    </div>
   
  
  </footer>
  <!-- Footer -->
