<div class="container ">
    <div class="row ">
      <div class="col-md-12 d-flex justify-content-center">
  
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card shadow-lg bg-transparent rounded">
              <img class="card-img-top " src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/014.png"
                alt="Card image cap">
            </div>
            <div
              class="mt-2 w-100 text-center texto text-uppercase font-weight-bold p-2 shadow mb-3 rounded  btn-transparent btn-outline btn-block ">
              <h3>Kakuna</h3>
            </div>
          </div>
        </div>
      </div>
  
  
      <!-- Primeiro Conjunto de cards -->
      <div class="card-columns mb-5 mt-5 ">
        <!-- Primeiro Card -->
        <div class="row ">
          <div class="mr-4">
            <div class="card p-2 shadow mb-3 rounded  btn-transparent btn-outline btn-block">
              <div class="card-header">
                <h5 class="card-title text-center">Pupa Pokémon</h5>
              </div>
              <div class="card-body">
                <p class="card-text text-justify">Enquanto aguarda a evolução, ele se esconde de predadores sob as folhas e em recantos de galhos.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--/ Primeiro Card -->
        <div class="row ">
          <div class="mr-5 ml-4">
            <div class="card  shadow mb-3 rounded  btn-transparent btn-outline btn-block">
              <div class="card-header">
                <h5 class="card-title text-center">Perfil</h5>
              </div>
              <div class="card-body">
                <ul>
                  <li>Altura: 0,6 m</li>
                  <li>Peso: 10 kg</li>
                  <li>Taxa de captura: 0%</li>
                  <li>Proporção de gênero: 50% ♂ 50% ♀</li>
                  <li>Grupos de ovos: Erro</li>
                  <li>Habilidades: Pele derramada</li>
                  <li>Etapas de hachura: 3825</li>
                  <li>EVs: 2 defesa</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /Primeiro Card -->
  
        <!-- Segundo Card -->
        <div class="row ">
          <div class="ml-4">
            <div class="card  shadow mb-3 rounded  btn-transparent btn-outline btn-block">
              <div class="card-header">
                <h5 class="card-title text-center">Danos ao ser atacado</h5>
              </div>
              <div class="card-body">
                <ul><li>Psíquico: 2x</li>
                    <li>Rock: 2x</li>
                    <li>Fogo: 2x</li>
                    <li>Vôo: 2x</li>
                    <li>Poção: 0,5x</li>
                    <li>Erro: 0.5x</li>
                    <li>Fada: 0.5x</li>
                    <li>Brigando: 0,25x</li>
                    <li>Relva: 0.25x</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Segundo Card -->
      <!--/Primeiro Conjunto de cards -->
    
    </div>



