@import "../../core/layout/scss/type.scss";

#pokemon-list { 
  padding: 10%;
  .pokemon-card {
    background: rgb(228, 228, 228);
    border: 1px solid grey;
    width: 200px;
    height: 250px;
    transition: padding 0.75s;

    margin-left: 16px;
    margin-bottom: 16px;

    .sprite {
      width: 150px;
      height: 150px;
      margin: auto;
    }
    img {
      max-width: 150px;
      max-height: 150px;
    
    }
    mat-card-title {
      text-transform: capitalize;
    
    }
    &:hover {
      // background-color: red;
      border: 2px solid black;
      padding-top:0px
    } 
  }

  .gif{
    max-height: 500px;
  }
}
