@import "../../core/layout/scss/type.scss";

#pokemon-list {
  padding: 20px;
  .search {
    padding-top: 64px;
    position: fixed;
    z-index: 98;
    background-color: white;
    width: 100%;
  }
  .list {
    padding-top: 140px;
  }
  .pokemon-card {
    background-color: #e4e4ec;
    border: 1px solid grey;
    width: 200px;
    height: 250px;
    transition: padding 0.75s;
    margin-bottom: 16px;
    margin-left: 16px;

    @media (max-width: 599px) {
      width: 100%;
      height: 250px;
    }
    .sprite {
      width: 150px;
      height: 150px;
      margin: auto;
    }
    img {
      max-width: 150px;
      max-height: 150px;
      display: block;
    }
    mat-card-title {
      text-transform: capitalize;
    }
    &:hover {
      // background-color: red;
      border: 2px solid black;
      padding-top: 0px;
    }
  }

  .gif {
    margin-top: 15vh;
    max-height: 450px;
  }
}
