/* CSS DO BOTÃO */
.button {
    border-radius: 4px;
    background-color: #B4BDEE;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  /* FIM CSS DO BOTÃO */


/* HOVER CARDS */
  /* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000;

  margin: 100px auto;
}

/* flip the pane when clicked */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 180px;
	height: 220px;
}

/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}
/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
  
}
/* FIM HOVER CARDS */