<div class="mat-app-background">
  <div class="main-content">
    <app-menu></app-menu>
    <div class="container">
      <div class="content slide">
        <div class="responsive">
          <!-- <div class="header-section">
            <div class="placefiller">breadcrumb?</div>
          </div> -->
          <div class="body-section">
            <div class="container">
              <router-outlet></router-outlet>
            </div>
          </div>
          <div class="footer-section">
            <div class="placefiller"><app-footer></app-footer></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
