@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/bold/Poppins-Bold.woff2') format('woff2'),
        url('../../fonts/bold/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/regular/Poppins-Regular.woff2') format('woff2'),
        url('../../fonts/regular/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/black/Poppins-Black.woff2') format('woff2'),
        url('../../fonts/black/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/regular/Roboto-Regular.woff2') format('woff2'),
        url('../../fonts/regular/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/bold/Roboto-Bold.woff2') format('woff2'),
        url('../../fonts/bold/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/black/Roboto-Black.woff2') format('woff2'),
        url('../../fonts/black/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

