/*--------------------*/
// Font face
$mainP: Poppins;
$subR: Roboto;

// Font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Font size
$f-xs: 12px !important;
$f-sm: 14px !important;
$f-md: 18px !important;
$f-lg: 30px !important;

// Main colors
$demiRed: #f52357;
$demiYellow: #faf38e;
$demiOrange: #fa8e8e;
$demiWhite:  #fdd4d4;
$darkWine: #911131;
$darkinWine: #921d3a;
$demiPink: #f3497c;
$demiBlue: #38daf0;
$demiNiPurple: #602cda;
$demiPurple: #812399;
$demiDark: #303030;
$demiDarkin: #1d1c1c;
/*--------------------*/