
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="left-sidebar" opened disableClose mode="side"> 
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="content" role="main">
        <mat-toolbar color="primary">
            <span>Pokedex</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div class="left-sidebar">
    
</div>
<div class="content">
    <app-topbar></app-topbar>
    <router-outlet></router-outlet>
</div> -->
