section {
  background-color: #333;
  padding: 20px;

  &.form {
    margin: 0 auto;
    position: relative;
    width: 80vw;
    border-radius: 5px;
  }

  h2 {
    color: white;
    text-align: center;
  }
}

.responsive-grid {
  margin-bottom: 20px;
}

.type--container {
  display: grid;
  grid-template: 1fr / repeat(auto-fill, minmax(110px, 1fr));
  gap: 10px;
  margin-top: 10px;
  padding: 10px 0;
}
