<div class="container-fluid d-flex justify-content-center tdNav texto">
  <nav class="navbar  navbar-expand-lg ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-">
        <li class="nav-item active hoverNav">
          <a class="nav-link nav-link texto text-monospace text-uppercase font-weight-bold p-2 shadow  mb-3  rounded  btn-transparent btn-outline btn-block " routerLink='/home'>Home <span class="sr-only">(página atual)</span></a>
        </li>
  
      </ul>
      <form class="form-inline my-2 my-lg-0 hoverNav ">
        <input class="form-control  mr-sm-2 ml-4  text-monospace text-uppercase font-weight-bold p-2 shadow  mb-3  rounded  btn-transparent btn-outline btn-block" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-outline-transparent  texto text-monospace text-uppercase font-weight-bold shadow rounded btn-transparent mb-3" type="submit">Pesquisar</button>
      </form>
    </div>
  </nav>
</div>

