@import "../../../core/layout/scss/type.scss";

#pokemon-details {
  padding: 5%;
  height: 100%;
  .header {
    display: block;
  }
  .gif {
    margin-top: 20vh;
  }
  .footer-btn {
    position: 0;
  }

  .pokemon-card {
    margin: auto;
    transition: height 0.75s;
    max-width: 800px;

    .name-image {
      width: 100%;
      max-width: 350px;
      @media (min-width: 600px) {
        margin-right: 20px;
      }
      @media (max-width: 599px) {
        margin-bottom: 20px;
      }
      .sprite {
        max-height: 300px;
        background: rgb(228, 228, 228);
        border-radius: 50px;
        img {
          width: 100%;
          height: 100%;
          margin: auto;
        }
      }
    }

    .info {
      border-radius: 15px;
      background: lightpink;
      padding: 16px;
      width: 400px;
      margin-bottom: 20px;

      .title {
        width: 160px;
        font-weight: bold;
      }
      .value {
        width: 100%;
        text-align: end;
      }
    }

    .status {
      border-radius: 15px;
      background: lightblue;
      padding: 16px;
      width: 400px;
    }
  }
}
