<div id="pokemon-details">

    <div class="header">
        <button mat-button routerLink="/pokemon">Voltar</button>
    </div>

    <div *ngIf="isLoading" fxLayoutAlign="center" class="gif">
        <img src="assets/gif/pokeball.gif" />
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center" *ngIf="pokemon && !isLoading" class="pokemon-card ">


        <div fxLayout="column" class="name-image">
            <div fxLayout="row">
                <h1 class="text-capitalize" style="margin-right: 4px;"> {{pokemon.name}} </h1>
                <h2 class="text-grey"> Nº {{pokemon.id  | number:'3.0-0'}} </h2>
            </div>
            <div class="sprite" (mouseover)="viewFront = false" (mouseout)="viewFront = true">
                <img *ngIf="viewFront" [src]="pokemon.sprites.front_default" >
                <img  *ngIf="!viewFront" [src]="pokemon.sprites.back_default? pokemon.sprites.back_default :pokemon.sprites.front_default ">
            </div>

            <h2>Type</h2>
            <pokemon-type [types]="pokemon.types"></pokemon-type>
        </div>

        <div fxLayout="column">
            <div fxLayout="row" class="info">
                <div fxLayout="column" class="title">
                    <p>Height</p>
                    <p>Weight</p>
                    <p>Category</p>
                    <p>Abilities</p>
                </div>

                <div fxlayout="column" class="value">
                    <p> {{(pokemon.height / 10) | number:'1.0-2' }} m</p>
                    <p> {{(pokemon.weight / 10 ) | number:'1.1-2'}} kg </p>
                    <p> Sem categoria </p>
                    <div *ngFor="let ability of pokemon.abilities">
                        <p class="text-capitalize"> {{ability.ability.name}} </p>
                    </div>
                </div>
            </div>

            <h2> Stats </h2>
            <div fxLayout="column" class="status">
                <div *ngFor="let pokeStat of pokemon.stats">
                    <span class="text-capitalize bold">{{pokeStat.stat.name}}</span>
                    <mat-progress-bar mode="determinate" [value]="getStat(pokeStat.base_stat)"></mat-progress-bar>
                    <br>
                </div>
            </div>
        </div>

        <div class="pokemon-evolutions" fxLayout="row wrap">
            <div *ngFor="let evolution of pokemonEvolution; let last = last" class="card">
                <div fxLayout="row">
                    <div class="sprite" fxLayout="column">
                        <img [src]="evolution.sprites.front_default" />
                    </div>
                    <div *ngIf="!last" fxShow fxHide.lt-sm fxLayout="column" class="arrow">
                        <mat-icon>arrow_forward_ios
                        </mat-icon>
                    </div>
                </div>
                <h2>
                    {{evolution.name}} <span style="color: grey;">#{{evolution.id  | number:'3.0-0'}}</span>
                </h2>
                <div *ngIf="!last" fxHide fxShow.lt-sm fxLayout="column" class="arrow">
                    <mat-icon>keyboard_arrow_down
                    </mat-icon>
                </div>
                <pokemon-type [types]="pokemon.types"></pokemon-type>
            </div>

            <p *ngIf="!pokemonEvolution.length">Esse pokemon não possui evolução</p>
        </div>
    </div>

</div>