<input type="search" placeholder="Procure o Pokémon" id="pokeInput" #pokeId />
<!-- <button (click)="searchPokemonData(pokeId.value)">Search</button> -->

<div>
  <ul>
    <li *ngFor="let pokemon of pokemonsInfos">
      <!-- <p>Número: {{ pokemon.id }}</p> -->
      <span>Nome: {{ pokemon.name | titlecase }}</span>
      <!-- <p>{{ pokemon.abilities.name }}</p> -->
      <!-- <p>{{ pokemon.types.name }}</p> -->
      <!-- <p>Peso: {{ pokemon.weight / 10 }} kg</p> -->
      <button>
        <img src="{{ pokemon.sprites.front_default }}" />
      </button>
    </li>
  </ul>
</div>
