/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    height: 100vh;
    background: url("../src/assets/images/pallet_city.jpg") center bottom no-repeat;
    background-size: cover;
    font-family: 'Consolas', Arial;
}

