<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                O que são components e directives e quais as difenças entre eles? Dê alguns exemplos de utilização.
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                O que são services? Dê alguns exemplos de utilização.
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                O que são pipes? Dê alguns exemplos de utilização.
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                O que é data-binding e quais os tipos que o Angular dá suporte?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Como se adiciona um listener de eventos do usuário em um componente? Por exemplo, como adicionar uma função que responde a um clique de usuário?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Quais as diferenças entre constructor e ngOnInit, e quando devemos usar cada um?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Quais as diferenças entre Observables e Promises? Como você o utilizaria cada um em um template?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Quais as diferenças entre template-driven forms e reactive forms? Como fazer validação de dados de formulário em cada caso?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Como se utiliza o angular router? Quais são as formas de enviar parâmetros para uma rota?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    O que são guards de rota e para que são úteis?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    O que é NgZone? Em que momento deve ser utilizada?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    O que é injeção de dependências e por que isso é útil? Como você realiza injeção de dependências entre módulos?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
    </mat-accordion>