/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css'

mat-toolbar
    // justify-content: space-between

mat-progress-spinner
    display: none !important

mat-sidenav
    padding: 20px

.content
    padding: 16px

.text-center 
    text-align: center    

.text-right 
    text-align: right

.bg-grass
    background-color: #9bcc50
    color: #000
    
.bg-poison
    background-color: #b97fc9
    color: #fff

.bg-fire
    background-color: #fd7d24
    color: #fff

.bg-flying
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%)
    color: #000

.bg-water
    background-color: #4592c4
    color: #fff
    
.bg-bug
    background-color: #729f3f
    color: #fff
    
.bg-normal
    background-color: #a4acaf
    color: #fff

.pull-right
    float: right

.pokemon-name
    text-transform: capitalize

.capitalize 
    text-transform: capitalize

.margin-center
    margin: 0 auto