/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #333; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.responsive-grid {
  display: grid;
  grid-template: 1fr / repeat(auto-fit, minmax(260px, 1fr));
  gap: 15px;
}
