@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "assets/scss/modules/_fonts.scss";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "assets/scss/modules/variables";

html,
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  height: 100%;
  line-height: 1;
  background-color: $demiDark;
}

/*-----------------------*/

.textinho {
  text-transform: uppercase;
  background: linear-gradient(to right, $darkWine 0%, $darkinWine 100%);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font: {
    size: 20px;
    family: $mainP !important;
    weight: $black !important;
  }
}
.zaz{
  display: inline;
}
.textinho.yellow {
  text-transform: uppercase !important;
  background: linear-gradient(
    to right,
    $demiYellow 0%,
    $demiRed 100%
  ) !important;
  background-clip: text;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font: {
    family: $mainP !important;
    weight: $black !important;
  }
}

.textinho.yellowIn {
  text-transform: uppercase !important;
  background: linear-gradient(
    to right,
    $demiYellow 0%,
    $demiOrange 100%
  ) !important;
  background-clip: text;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font: {
    family: $mainP !important;
    weight: $black !important;
  }
}

.textinho.blue {
  max-width: fit-content;
  text-transform: uppercase !important;
  background: linear-gradient(to right, $demiBlue 0%, #0c69c8 100%) !important;
  background-clip: text;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font: {
    family: $mainP !important;
    weight: $black !important;
  }
}

.main-content {
  font-family: $mainP;
  color: $demiWhite;
  text-rendering: optimizeLegibility;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;

  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-text-size-adjust: none;
  -moz-font-smoothing: antialiased;

  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-text-size-adjust: none;
  -ms-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}

.container {
  overflow: hidden;
  /*  Impede que trema aleatóriamente [não é bug, é feature]  */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  width: 100%;
}

.menu {
  height: 60px;
  position: relative;
  background-color: #f00d46;
  -webkit-box-shadow: 0px 12px 25px -5px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 0px 12px 25px -5px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 12px 25px -5px rgba(0, 0, 0, 0.59);
}
.menu h1 {
  color: $demiBlue;
  text-align: left;
  font-size: 27px;
  line-height: 60px;
  font-weight: bold;
  padding-left: 65px;
}

.burger {
  position: absolute;
  float: left;
  padding: 10px;
  top: 4px;
  left: 10px;

  display: none;
}
.burger li {
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
}
.burger.open li {
  background-color: #d9dde1;
}

nav {
  position: absolute;
  top: 0;
  right: 10px;
}
nav li {
  font-family: $mainP;
  margin-right: 10px;
  display: none;
}

/*Nav Efeito Expandindo*/
nav.open {
  margin-right: 5rem;
  right: 0;
  li {
    display: inline-block;
  }
  height: 100%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -webkit-animation: slideIn 0.35s ease-in-out;

  -moz-transform: translate3d(0, 0, 0) scale(1);
  -moz-animation: slideIn 0.35s ease-in-out;

  transform: translate3d(0, 0, 0) scale(1);
  animation: slideIn 0.35s ease-in-out;
}
@-webkit-keyframes slideIn {
  0% {
    opacity: 0.3;
    -webkit-transform: translate3d(5%, 0, 0) scale(0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
}
@-moz-keyframes slideIn {
  0% {
    opacity: 0.3;
    -moz-transform: translate3d(5%, 0, 0) scale(0.97);
  }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0.3;
    transform: translate3d(5%, 0, 0) scale(0.97);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

/*Nav Efeito Encolhendo*/
nav.close {
  margin-right: 5rem;
  right: 0;
  li {
    display: inline-block;
  }

  opacity: 0;
  -webkit-transform: translate3d(5%, 0, 0) scale(0.97);
  -webkit-animation: slideOut 0.3s ease-in-out;

  -moz-transform: translate3d(5%, 0, 0) scale(0.97);
  -moz-animation: slideOut 0.3s ease-in-out;

  transform: translate3d(5%, 0, 0) scale(0.97);
  animation: slideOut 0.3s ease-in-out;
}
@-webkit-keyframes slideOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0) scale(0.97);
  }
}
@-moz-keyframes slideOut {
  0% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    opacity: 0;
    -moz-transform: translate3d(5%, 0, 0) scale(0.97);
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate3d(5%, 0, 0) scale(0.97);
  }
}

nav li a {
  font-size: 16px;
  color: $demiYellow;
  padding: 18px 7px;

  display: block;
}
nav li a:hover {
  color: $demiBlue;
}
nav li a:active {
  color: $darkWine;
}

// hamburginho virando x

.burger li {
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(45deg) translate(-2px, -1px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(-45deg) translate(-2px, -1px);
}

/*  CSSinhos  */

.header-section,
.body-section,
.footer-section {
  padding: 20px;
}

.header-section {
  background-color: $demiDark;
}
.body-section {
  padding-top: 80px; // mudar depois do breadcrumb
  margin-left: 35px;
  margin-right: 40px;
  min-height: 800px;
  background-color: $demiDark;
  box-shadow: 0px -5px 5px 1px rgba(0, 0, 0, 0.61);
  padding-bottom: 2%;
  background: $demiDark;
  background: linear-gradient(
    90deg,
    $demiDark 0%,
    $demiDarkin 50%,
    $demiDark 100%
  ); // keepinho
}
.footer-section {
  background-color: $demiDark;
  padding: 40px;
  margin-left: 35px;
  margin-right: 40px;
  height: 100%;
  background: $darkWine;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px -5px 10px 1px rgba(0, 0, 0, 0.61);
  display: flex;
  justify-content: center;
  align-content: center;
}
.placefiller {
  text-align: center;
  font-size: 20px;
  border: 0px;
}
.header-section .placefiller {
  line-height: 50px;
}
.body-section .placefiller {
  line-height: 30px;
}
.footer-section .placefiller {
  border: 0px;
}
.footer-section a:link {
  margin-top: -6px;
  margin-left: 5px;
  font: $mainP;
  text-decoration: dashed;
  color: $demiPink;
}
.footer-section a:visited {
  margin-top: -6px;
  margin-left: 5px;
  font: $mainP;
  text-decoration: dashed;
  color: $demiPink;
}
.footer-section a:hover {
  margin-top: -6px;
  margin-left: 5px;
  font: $mainP;
  text-decoration: dashed;
  color: $demiBlue;
}
.footer-section a:active {
  margin-top: -6px;
  margin-left: 5px;
  font: $mainP;
  text-decoration: dashed;
  color: $demiPurple;
}

.contatinho {
  margin-left: 12rem;
}

.pokedex-link {
  margin-left: 10rem;
  font: {
    size: 20px;
    family: $mainP !important;
    weight: $black !important;
  }
}

//  Poké Styles [arrumando pra web]
.pokeball {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 35px;
  height: 35px;
  background: #fff;
  border: 4px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -4px 4px 0 4px #ccc;
  cursor: pointer;
}

.pokeball::before,
.pokeball::after {
  content: "";
  position: absolute;
}
.pokeball::before {
  background: red;
  width: 100%;
  height: 50%;
}

.pokeball::after {
  top: calc(64% - 7px);
  width: 100%;
  height: 4px;
  background: #000;
}

.pokeball__button {
  position: absolute;
  top: calc(48% - 3px);
  left: calc(50% - 3px);
  width: 5px;
  height: 5px;
  background: #7f8c8d;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px black;
  z-index: 1;
}

// pokeAni

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes rotateOut {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
    transform: rotate3d(0, 0, 1, 200deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes rotateOut {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
    transform: rotate3d(0, 0, 1, 200deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}

.rotateOut {
  -webkit-animation-name: rotateOut;
  animation-name: rotateOut;
}





/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $darkWine;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: $darkWine;
}
::-webkit-scrollbar-thumb:active {
  background: $darkWine;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@media only screen and (max-width: 1154px) {
  nav.open {
    margin-right: 10px;
  }
  /*Nav Efeito Encolhendo*/
  nav.close {
    margin-right: 10px;
  }

  .contatinho {
    margin-left: 6rem;
    margin-right: 4rem;
  }

  .pokedex-link {
    margin-left: 6rem;
    font: {
      size: 20px;
      family: $mainP !important;
      weight: $black !important;
    }
  }
}

.backdropBackground {
  background-color: #faf3;
}

@media only screen and (max-width: 980px) {
  nav.open {
    margin-right: 5px;
  }
  /*Nav Efeito Encolhendo*/
  nav.close {
    margin-right: 5px;
  }

  .contatinho {
    margin-left: 2rem;
    margin-right: 4rem;
  }

  .pokedex-link {
    margin-left: 2rem;
    font: {
      size: 20px;
      family: $mainP !important;
      weight: $black !important;
    }
  }
}
@media only screen and (max-width: 844px) {
  nav.open {
    margin-right: 3px;
  }
  /*Nav Efeito Encolhendo*/
  nav.close {
    margin-right: 3px;
  }

  .contatinho {
    margin-left: 1rem;
    margin-right: 4rem;
  }

  .pokedex-link {
    margin-left: 1rem;
    font: {
      size: 20px;
      family: $mainP !important;
      weight: $black !important;
    }
  }
}

@media only screen and (max-width: 823px) {
  .textinho {
    text-transform: uppercase;
    background: linear-gradient(to right, $darkWine 0%, $darkinWine 100%);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font: {
      size: 20px;
      family: $mainP !important;
      weight: $black !important;
    }
  }

  .pokedex-link {
    margin-left: 0;
    margin-top: 8rem;
    font: {
      size: 20px;
      family: $mainP !important;
      weight: $black !important;
    }
  }

  .nav {
    max-width: 100%;
  }
  .navbar-default {
    max-width: 100%;
  }

  table {
    width: 50%;
  }
  table img {
    max-height: 50px;
  }
  nav li .contatinho {
    margin-left: 0px;
    padding-right: 16rem;
    text-align: end;
    position: fixed;
    bottom: 0;
    right: 0;
    width: -webkit-fill-available;
  }
  .contatinho {
    margin-left: 0px;
    text-align: end;
    position: fixed;
    bottom: 0;
    right: 0;
    width: -webkit-fill-available;
  }
  /* Poké Styles */
  .pokeball {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 35px;
    height: 35px;
    background: #fff;
    border: 4px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -4px 4px 0 4px #ccc;
  }

  .pokeball::before,
  .pokeball::after {
    content: "";
    position: absolute;
  }
  .pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
  }

  .pokeball::after {
    top: calc(66% - 9px);
    width: 100%;
    height: 4px;
    background: #000;
  }

  .pokeball__button {
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 3px);
    width: 5px;
    height: 5px;
    background: #7f8c8d;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 4px black;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes rotateIn {
    from {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate3d(0, 0, 1, -200deg);
      transform: rotate3d(0, 0, 1, -200deg);
    }

    to {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes rotateIn {
    from {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate3d(0, 0, 1, -200deg);
      transform: rotate3d(0, 0, 1, -200deg);
    }

    to {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: none;
      transform: none;
    }
  }

  .rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
  }

  @-webkit-keyframes rotateOut {
    from {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate3d(0, 0, 1, 200deg);
      transform: rotate3d(0, 0, 1, 200deg);
    }

    to {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes rotateOut {
    from {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate3d(0, 0, 1, 200deg);
      transform: rotate3d(0, 0, 1, 200deg);
    }

    to {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: none;
      transform: none;
    }
  }

  .rotateOut {
    -webkit-animation-name: rotateOut;
    animation-name: rotateOut;
  }

  .menu {
    height: 64px;
    z-index: 2;
    background-color: #f00d46;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    /* começa assim */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .menu h1 {
    color: $demiYellow;
    text-align: center;
    padding-left: 0;
    margin-top: 10px !important;
    display: block;
  }
  .burger {
    display: block;
  }

  /*  Nav Layout  */
  nav {
    position: relative;
  }

  nav ul {
    height: 90%;
    overflow-y: auto;
  }
  nav li {
    margin-right: 0px;
    display: block;
    float: none;
  }
  nav li a {
    padding: 22px 25px;
    letter-spacing: 3px;
    font-size: 14px;
  }
  nav li a.logo {
    display: none;
  }
  nav li a.active {
    color: #fff;
    background-color: rgb(116, 30, 51);
  }
  nav li a:hover {
    color: #fff;
    background-color: #af1c41;
  }
  nav li:first-child a.active,
  nav li:first-child a:hover {
    border-radius: 10px 0 0 0;
  }

  .header-section {
    margin-top: 60px;
  }

  /* NAV ANNIMATION */
  nav {
    width: 82%;
    height: 100%;
    position: fixed;
    left: 15px;
    top: 0;
    margin: 0;
    margin-right: -10px;
    background-color: #f00d46;
    border-radius: 8px;

    /* começa aqui */
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0) scale(0.97);
    -moz-transform: translate3d(5%, 0, 0) scale(0.97);
    transform: translate3d(5%, 0, 0) scale(0.97);
  }

  /*Nav Efeito Expandindo*/
  nav.open {
    li {
      display: block;
    }
    left: 0;
    height: 100%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -webkit-animation: slideIn 0.35s ease-in-out;

    -moz-transform: translate3d(0, 0, 0) scale(1);
    -moz-animation: slideIn 0.35s ease-in-out;

    transform: translate3d(0, 0, 0) scale(1);
    animation: slideIn 0.35s ease-in-out;
  }
  @-webkit-keyframes slideIn {
    0% {
      opacity: 0.3;
      -webkit-transform: translate3d(5%, 0, 0) scale(0.97);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      opacity: 0.3;
      -moz-transform: translate3d(5%, 0, 0) scale(0.97);
    }
    100% {
      opacity: 1;
      -moz-transform: translate3d(0, 0, 0) scale(1);
    }
  }
  @keyframes slideIn {
    0% {
      opacity: 0.3;
      transform: translate3d(5%, 0, 0) scale(0.97);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(1);
    }
  }

  /*Nav Efeito Encolhendo*/
  nav.close {
    left: 15px;
    opacity: 0;
    li {
      display: block;
    }
    -webkit-transform: translate3d(5%, 0, 0) scale(0.97);
    -webkit-animation: slideOut 0.3s ease-in-out;

    -moz-transform: translate3d(5%, 0, 0) scale(0.97);
    -moz-animation: slideOut 0.3s ease-in-out;

    transform: translate3d(5%, 0, 0) scale(0.97);
    animation: slideOut 0.3s ease-in-out;
  }
  @-webkit-keyframes slideOut {
    0% {
      left: 0;
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(5%, 0, 0) scale(0.97);
    }
  }
  @-moz-keyframes slideOut {
    0% {
      left: 0;
      opacity: 1;
      -moz-transform: translate3d(0, 0, 0) scale(1);
    }
    100% {
      opacity: 0;
      -moz-transform: translate3d(5%, 0, 0) scale(0.97);
    }
  }
  @keyframes slideOut {
    0% {
      left: 0;
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(1);
    }
    100% {
      left: 0;
      opacity: 0;
      transform: translate3d(5%, 0, 0) scale(0.97);
    }
  }

  /* animação content */
  .content {
    /* começa aqui */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 1;
    text-align: center;
  }

  /*Content slide*/
  .menu.open,
  .content.open {
    -webkit-transform: translate3d(240px, 0, 0);
    -webkit-animation: open 0.5s ease-in-out;

    -moz-transform: translate3d(240px, 0, 0);
    -moz-animation: open 0.5s ease-in-out;

    transform: translate3d(240px, 0, 0);
    animation: open 0.5s ease-in-out;
  }
  @-webkit-keyframes open {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
    }
    70% {
      -webkit-transform: translate3d(260px, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(240px, 0, 0);
    }
  }
  @-moz-keyframes open {
    0% {
      -moz-transform: translate3d(0, 0, 0);
    }
    70% {
      -moz-transform: translate3d(260px, 0, 0);
    }
    100% {
      -moz-transform: translate3d(240px, 0, 0);
    }
  }
  @keyframes open {
    0% {
      transform: translate3d(0, 0, 0);
    }
    70% {
      transform: translate3d(260px, 0, 0);
    }
    100% {
      transform: translate3d(240px, 0, 0);
    }
  }

  /*Content fechando*/
  .menu.close,
  .content.close {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: close 0.3s ease-in-out;

    -moz-transform: translate3d(0, 0, 0);
    -moz-animation: close 0.3s ease-in-out;

    transform: translate3d(0, 0, 0);
    animation: close 0.3s ease-in-out;
  }
  @-webkit-keyframes close {
    0% {
      -webkit-transform: translate3d(240px, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
  @-moz-keyframes close {
    0% {
      -moz-transform: translate3d(240px, 0, 0);
    }
    100% {
      -moz-transform: translate3d(0, 0, 0);
    }
  }
  @keyframes close {
    0% {
      transform: translate3d(240px, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
}

/* @ reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
.menu {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 reset browsers antigos */
article,
aside,
details,
figcaption,
figure,
footer,
header,
.menu,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @fim */

// ícones de tipo
.icon {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin: auto;
  margin-right: 5px;
  transition: 200ms all;
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92bc2c;
  box-shadow: 0 0 20px #92bc2c;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0c69c8;
  box-shadow: 0 0 20px #0c69c8;
}

.electric {
  background: #f2d94e;
  box-shadow: 0 0 20px #f2d94e;
}

.fire {
  background: #fba54c;
  box-shadow: 0 0 20px #fba54c;
  
}

.fairy {
  background: #ee90e6;
  box-shadow: 0 0 20px #ee90e6;
}

.fighting {
  background: #d3425f;
  box-shadow: 0 0 20px #d3425f;
}

.flying {
  background: #a1bbec;
  box-shadow: 0 0 20px #a1bbec;
}

.ghost {
  background: #5f6dbc;
  box-shadow: 0 0 20px #5f6dbc;
}

.grass {
  background: #5fbd58;
  box-shadow: 0 0 20px #5fbd58;
}

.ground {
  background: #da7c4d;
  box-shadow: 0 0 20px #da7c4d;
}

.ice {
  background: #75d0c1;
  box-shadow: 0 0 20px #75d0c1;
}

.normal {
  background: #a0a29f;
  box-shadow: 0 0 20px #a0a29f;
}

.poison {
  background: #b763cf;
  box-shadow: 0 0 20px #b763cf;
}

.psychic {
  background: #fa8581;
  box-shadow: 0 0 20px #fa8581;
}

.rock {
  background: #c9bb8a;
  box-shadow: 0 0 20px #c9bb8a;
}

.steel {
  background: #5695a3;
  box-shadow: 0 0 20px #5695a3;
}

.water {
  background: #539ddf;
  box-shadow: 0 0 20px #539ddf;
}



/* for dividing screen*/
.normalflying {
  background: linear-gradient(to right, $normal 50%, $flying 50%);
}
.bugflying {
  background: linear-gradient(to right, $bug 50%, $flying 50%);
}
.grasspoison {
  background: linear-gradient(to right, $grass 50%, $poison 50%);
}
.poisonbug {
  background: linear-gradient(to right, $poison 50%, $bug 50%);
}
.bugpoison {
  background: linear-gradient(to right, $bug 50%, $poison 50%);
}
.waterrock {
  background: linear-gradient(to right, $water 50%, $rock 50%);
}
.rockwater {
  background: linear-gradient(to right, $rock 50%, $water 50%);
}
.rockground {
  background: linear-gradient(to right, $rock 50%, $ground 50%);
}
.groundrock {
  background: linear-gradient(to right, $ground 50%, $rock 50%);
}
.waterground {
  background: linear-gradient(to right, $water 50%, $ground 50%);
}
.psychicsteel {
  background: linear-gradient(to right, $psychic 50%, $steel 50%);
}
.steelpsychic {
  background: linear-gradient(to right, $psychic 50%, $steel 50%);
}
.waterflying {
  background: linear-gradient(to right, $water 50%, $flying 50%);
}
.psychicflying {
  background: linear-gradient(to right, $psychic 50%, $flying 50%);
}
.psychicfairy {
  background: linear-gradient(to right, $psychic 50%, $fairy 50%);
}
.rocksteel {
  background: linear-gradient(to right, $rock 50%, $steel 50%);
}
.steelrock {
  background: linear-gradient(to right, $steel 50%, $rock 50%);
}
.icewater {
  background: linear-gradient(to right, $ice 50%, $water 50%);
}
.waterice {
  background: linear-gradient(to right, $water 50%, $ice 50%);
}
.grassflying {
  background: linear-gradient(to right, $grass 50%, $flying 50%);
}
.ghostground {
  background: linear-gradient(to right, $ghost 50%, $ground 50%);
}
.groundghost {
  background: linear-gradient(to right, $ground 50%, $ghost 50%);
}
.dragonground {
  background: linear-gradient(to right, $dragon 50%, $ground 50%);
}
.grounddragon {
  background: linear-gradient(to right, $ground 50%, $dragon 50%);
}
.bugsteel {
  background: linear-gradient(to right, $bug 50%, $steel 50%);
}
.buggrass {
  background: linear-gradient(to right, $bug 50%, $grass 50%);
}
.grassghost {
  background: linear-gradient(to right, $grass 50%, $ghost 50%);
}
.ghostgrass {
  background: linear-gradient(to right, $ghost 50%, $grass 50%);
}
.firefighting {
  background: linear-gradient(to right, $fire 50%, $fighting 50%);
}
.fireflying {
  background: linear-gradient(to right, $fire 50%, $flying 50%);
}
.poisonwater {
  background: linear-gradient(to right, $poison 50%, $water 50%);
}
.waterpoison {
  background: linear-gradient(to right, $water 50%, $poison 50%);
}
.flyingdragon {
  background: linear-gradient(to right, $flying 50%, $dragon 50%);
}
.dragonflying {
  background: linear-gradient(to right, $dragon 50%, $flying 50%);
}
.darkflying {
  background: linear-gradient(to right, $dark 50%, $flying 50%);
}
.normalfairy {
  background: linear-gradient(to right, $normal 50%, $fairy 50%);
}
.poisondark {
  background: linear-gradient(to right, $poison 50%, $dark 50%);
}
.bugrock {
  background: linear-gradient(to right, $bug 50%, $rock 50%);
}
.rockbug {
  background: linear-gradient(to right, $rock 50%, $bug 50%);
}
.waterbug {
  background: linear-gradient(to right, $water 50%, $bug 50%);
}
.bugwater {
  background: linear-gradient(to right, $bug 50%, $water 50%);
}
.fireghost {
  background: linear-gradient(to right, $fire 50%, $ghost 50%);
}
.ghostfire {
  background: linear-gradient(to right, $ghost 50%, $fire 50%);
}
.groundsteel {
  background: linear-gradient(to right, $ground 50%, $steel 50%);
}
.steelground {
  background: linear-gradient(to right, $steel 50%, $ground 50%);
}
.waterpsychic {
  background: linear-gradient(to right, $water 50%, $psychic 50%);
}
.waterdark {
  background: linear-gradient(to right, $water 50%, $dark 50%);
}
.grassdragon {
  background: linear-gradient(to right, $grass 50%, $dragon 50%);
}
.grassfairy {
  background: linear-gradient(to right, $grass 50%, $fairy 50%);
}
.electricflying {
  background: linear-gradient(to right, $electric 50%, $flying 50%);
}
.darknormal {
  background: linear-gradient(to right, $dark 50%, $normal 50%);
}
.normalfighting {
  background: linear-gradient(to right, $normal 50%, $fighting 50%);
}
.normalpsychic {
  background: linear-gradient(to right, $normal 50%, $psychic 50%);
}
.psychicfighting {
  background: linear-gradient(to right, $psychic 50%, $fighting 50%);
}
.fightingpsychic {
  background: linear-gradient(to right, $fighting 50%, $psychic 50%);
}
.rockflying {
  background: linear-gradient(to right, $rock 50%, $flying 50%);
}
.bugfire {
  background: linear-gradient(to right, $bug 50%, $fire 50%);
}
.bugelectric {
  background: linear-gradient(to right, $bug 50%, $electric 50%);
}
.ghostdragon {
  background: linear-gradient(to right, $ghost 50%, $dragon 50%);
}
.steelfairy {
  background: linear-gradient(to right, $steel 50%, $fairy 50%);
}
.waterfairy {
  background: linear-gradient(to right, $water 50%, $fairy 50%);
}
.grasspsychic {
  background: linear-gradient(to right, $grass 50%, $psychic 50%);
}
.grassdark {
  background: linear-gradient(to right, $grass 50%, $dark 50%);
}
.electricsteel {
  background: linear-gradient(to right, $electric 50%, $steel 50%);
}
.icepsychic {
  background: linear-gradient(to right, $ice 50%, $psychic 50%);
}
.darkdragon {
  background: linear-gradient(to right, $dark 50%, $dragon 50%);
}
.fightingdark {
  background: linear-gradient(to right, $fighting 50%, $dark 50%);
}
.darkfighting {
  background: linear-gradient(to right, $dark 50%, $fighting 50%);
}
.fightingsteel {
  background: linear-gradient(to right, $fighting 50%, $steel 50%);
}
.poisonflying {
  background: linear-gradient(to right, $poison 50%, $flying 50%);
}
.poisondragon {
  background: linear-gradient(to right, $poison 50%, $dragon 50%);
}
.groundflying {
  background: linear-gradient(to right, $ground 50%, $flying 50%);
}
.grounddark {
  background: linear-gradient(to right, $ground 50%, $dark 50%);
}
.rockelectric {
  background: linear-gradient(to right, $rock 50%, $electric 50%);
}
.bugfighting {
  background: linear-gradient(to right, $bug 50%, $fighting 50%);
}
.ghostflying {
  background: linear-gradient(to right, $ghost 50%, $flying 50%);
}
.ghostpoison {
  background: linear-gradient(to right, $ghost 50%, $poison 50%);
}
.steelflying {
  background: linear-gradient(to right, $steel 50%, $flying 50%);
}
.steelghost {
  background: linear-gradient(to right, $steel 50%, $ghost 50%);
}
.fireground {
  background: linear-gradient(to right, $fire 50%, $ground 50%);
}
.firerock {
  background: linear-gradient(to right, $fire 50%, $rock 50%);
}
.waterfighting {
  background: linear-gradient(to right, $water 50%, $fighting 50%);
}
.watergrass {
  background: linear-gradient(to right, $water 50%, $grass 50%);
}
.waterelectric {
  background: linear-gradient(to right, $water 50%, $electric 50%);
}
.waterdragon {
  background: linear-gradient(to right, $water 50%, $dragon 50%);
}
.grassfighting {
  background: linear-gradient(to right, $grass 50%, $fighting 50%);
}
.grasssteel {
  background: linear-gradient(to right, $grass 50%, $steel 50%);
}
.psychicghost {
  background: linear-gradient(to right, $psychic 50%, $ghost 50%);
}
.firepsychic {
  background: linear-gradient(to right, $fire 50%, $psychic 50%);
}
.psychicfire {
  background: linear-gradient(to right, $psychic 50%, $fire 50%);
}
.iceground {
  background: linear-gradient(to right, $ice 50%, $ground 50%);
}
.firedragon {
  background: linear-gradient(to right, $fire 50%, $dragon 50%);
}
.dragon {
  background: linear-gradient(to right, $dragon 50%, $fire 50%);
}
.dragonelectric {
  background: linear-gradient(to right, $dragon 50%, $electric 50%);
}
.dragonpsychic {
  background: linear-gradient(to right, $dragon 50%, $psychic 50%);
}
.firedark {
  background: linear-gradient(to right, $fire 50%, $dark 50%);
}
.darkfire {
  background: linear-gradient(to right, $dark 50%, $fire 50%);
}
.darkpsychic {
  background: linear-gradient(to right, $dark 50%, $psychic 50%);
}
.darkfairy {
  background: linear-gradient(to right, $dark 50%, $fairy 50%);
}
.normalgrass {
  background: linear-gradient(to right, $normal 50%, $grass 50%);
}
.fightingflying {
  background: linear-gradient(to right, $fighting 50%, $flying 50%);
}
.poisonfighting {
  background: linear-gradient(to right, $poison 50%, $fighting 50%);
}
.poisonground {
  background: linear-gradient(to right, $poison 50%, $ground 50%);
}
.poisonfire {
  background: linear-gradient(to right, $poison 50%, $fire 50%);
}
.groundpsychic {
  background: linear-gradient(to right, $ground 50%, $psychic 50%);
}
.rockgrass {
  background: linear-gradient(to right, $rock 50%, $grass 50%);
}
.rockpsychic {
  background: linear-gradient(to right, $rock 50%, $psychic 50%);
}
.rockice {
  background: linear-gradient(to right, $rock 50%, $ice 50%);
}
.rockdragon {
  background: linear-gradient(to right, $rock 50%, $dragon 50%);
}
.rockfairy {
  background: linear-gradient(to right, $rock 50%, $fairy 50%);
}
.bugground {
  background: linear-gradient(to right, $bug 50%, $ground 50%);
}
.bugpsychic {
  background: linear-gradient(to right, $bug 50%, $psychic 50%);
}
.bugfairy {
  background: linear-gradient(to right, $bug 50%, $fairy 50%);
}
.steeldragon {
  background: linear-gradient(to right, $steel 50%, $dragon 50%);
}
.firenormal {
  background: linear-gradient(to right, $fire 50%, $normal 50%);
}
.waterghost {
  background: linear-gradient(to right, $water 50%, $ghost 50%);
}
.grassice {
  background: linear-gradient(to right, $grass 50%, $ice 50%);
}
.electricnormal {
  background: linear-gradient(to right, $electric 50%, $normal 50%);
}
.electricpoison {
  background: linear-gradient(to right, $electric 50%, $poison 50%);
}
.electricice {
  background: linear-gradient(to right, $electric 50%, $ice 50%);
}
.electricfairy {
  background: linear-gradient(to right, $electric 50%, $fairy 50%);
}
.iceflying {
  background: linear-gradient(to right, $ice 50%, $flying 50%);
}
.icebug {
  background: linear-gradient(to right, $ice 50%, $bug 50%);
}
.icesteel {
  background: linear-gradient(to right, $ice 50%, $steel 50%);
}
.dragonfighting {
  background: linear-gradient(to right, $dragon 50%, $fighting 50%);
}
.ghostdark {
  background: linear-gradient(to right, $ghost 50%, $dark 50%);
}
.darkghost {
  background: linear-gradient(to right, $dark 50%, $ghost 50%);
}
.darksteel {
  background: linear-gradient(to right, $dark 50%, $steel 50%);
}
.darkice {
  background: linear-gradient(to right, $dark 50%, $ice 50%);
}
.fairyflying {
  background: linear-gradient(to right, $fairy 50%, $flying 50%);
}
.normalground {
  background: linear-gradient(to right, $normal 50%, $ground 50%);
}
.normalwater {
  background: linear-gradient(to right, $normal 50%, $water 50%);
}
.normaldragon {
  background: linear-gradient(to right, $normal 50%, $dragon 50%);
}
.fightingghost {
  background: linear-gradient(to right, $fighting 50%, $ghost 50%);
}
.fightingice {
  background: linear-gradient(to right, $fighting 50%, $ice 50%);
}
.poisonpsychic {
  background: linear-gradient(to right, $poison 50%, $psychic 50%);
}
.poisonfairy {
  background: linear-gradient(to right, $poison 50%, $fairy 50%);
}
.groundelectric {
  background: linear-gradient(to right, $ground 50%, $electric 50%);
}
.rockfighting {
  background: linear-gradient(to right, $rock 50%, $fighting 50%);
}
.rockpoison {
  background: linear-gradient(to right, $rock 50%, $poison 50%);
}
.rockdark {
  background: linear-gradient(to right, $rock 50%, $dark 50%);
}
.bugghost {
  background: linear-gradient(to right, $bug 50%, $ghost 50%);
}
.ghostfairy {
  background: linear-gradient(to right, $ghost 50%, $fairy 50%);
}
.firesteel {
  background: linear-gradient(to right, $fire 50%, $steel 50%);
}
.firewater {
  background: linear-gradient(to right, $fire 50%, $water 50%);
}
.watersteel {
  background: linear-gradient(to right, $water 50%, $steel 50%);
}
.grassground {
  background: linear-gradient(to right, $grass 50%, $ground 50%);
}
.electricghost {
  background: linear-gradient(to right, $electric 50%, $ghost 50%);
}
.electricfire {
  background: linear-gradient(to right, $electric 50%, $fire 50%);
}
.electricgrass {
  background: linear-gradient(to right, $electric 50%, $grass 50%);
}
.electricpsychic {
  background: linear-gradient(to right, $electric 50%, $psychic 50%);
}
.electricdark {
  background: linear-gradient(to right, $electric 50%, $dark 50%);
}
.iceghost {
  background: linear-gradient(to right, $ice 50%, $ghost 50%);
}
.icefire {
  background: linear-gradient(to right, $ice 50%, $fire 50%);
}
.icefairy {
  background: linear-gradient(to right, $ice 50%, $fairy 50%);
}
.dragonice {
  background: linear-gradient(to right, $dragon 50%, $ice 50%);
}
.dragonfairy {
  background: linear-gradient(to right, $dragon 50%, $fairy 50%);
}

.backinho {
  color: #424242;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin: auto;
  margin-right: 5px;
  transition: 200ms all;
  box-shadow: 0 0 20px #595761;
  i{
    position: absolute;
    left: 7px;
    top: 7px;
    font{
      size:20px
    }
  }
}


.backinho:hover {
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
  }


  .poke-card-info{
    padding:0px !important;
    margin: -24px -24px !important;
    text-align: center;
    text-align: -webkit-center;
    text-transform: uppercase;
  font: {
    size: 16px;
    family: $mainP !important;
  }
  }



.gray{
  background-color:rgb(151, 148, 148) !important;
  box-shadow: 0 0 20px rgb(151, 148, 148) !important; 
  font-size:smaller;
  display: block;
  text-align-last: center;
}
.pink{
  
  background-color:rgb(230, 180, 189) !important;
  box-shadow:rgb(230, 180, 189) !important; 
  font-size:smaller;
  display: block;
  text-align-last: center;
}
.blue{
  box-shadow:rgb(76, 143, 206) !important;
  background-color:rgb(76, 143, 206) !important; 
  font-size:smaller;
  display: block;
  text-align-last: center;
}
.white{
  background-color:white !important;
  box-shadow:white !important; 
  font-size:smaller;
  display: block;
  text-align-last: center;
}
.red{
  box-shadow:rgb(202, 65, 88) !important;
  background-color:rgb(202, 65, 88) !important; 
  font-size:smaller;
  display: block;
  text-align-last: center;
}
.green{
  background-color:rgb(87, 202, 131) !important;
  box-shadow:rgb(87, 202, 131) !important; 
  font-size:smaller;
  display: block;
  text-align-last: center;
}
.black{
  box-shadow:rgb(85, 81, 81) !important;
  background-color:rgb(85, 81, 81) !important; 
  font-size:smaller;
  display: block;
  text-align-last: center;
}
.purple{
  background-color:rgb(128, 36, 128) !important;
  box-shadow:rgb(128, 36, 128) !important; 
  font-size:smaller;
  display: block;
  text-align-last: center;
}
.yellow{
  box-shadow:rgb(231, 229, 88) !important;
  background-color:rgb(231, 229, 88) !important; 
  font-size:smaller;
  display: block;
  text-align-last: center;
}
.brown{
  box-shadow:rgb(95, 48, 48);
  background-color:rgb(95, 48, 48);
  display: block;
  text-align-last: center;
}

.gameinfo{
  text-transform: capitalize;
  font-family: $mainP;

}

.simple-notification-wrapper {
  z-index: 9999;
  font: $mainP !important;
  max-width: 500px;
  
}

@media (max-width: 823px) {
  .simple-notification-wrapper.right {
    z-index: 9999;
    right: 0 !important;
    left: 0 !important;
  }
  .simple-notification-wrapper {
    z-index: 9999;
    width: 100% !important;
    max-width: 100% !important;
  }
}