$color-main: #1890ff;

$color-black: #2d353c;
$color-white: #ffffff;

$color-input: #f9fafb;
$color-border: #e4e9f2;
$color-background: #edf1f7;

$color-text: rgba(45, 53, 60, .5);
$color-shadow: rgba(45, 53, 60, .2);
