<div class="menu slide">
    
    <div id="navToggle" class="slide pokeball ">
        <div class="pokeball__button">

        </div>
    </div>
    
    
    
    <h1 class="textinho yellow font-lg">MatinhoDéx</h1>
</div>

<nav class="slide">
    <ul>
        <li><a [routerLink]="['/home']" class="active">INÍCIO</a></li>
        <li><a [routerLink]="['/pokedex']">POKEDÉX</a></li>
        <li (click)="testinho()" class="contatinho" style="padding-left: 8rem;"><a [routerLink]="['./']">ME CHAMA!</a></li>
    </ul>
</nav>

