<div class="menu slide" #menuZao>
    
    <div id="navToggle" class="slide pokeball " #pokeBall (click)="toggleMenu()">
        <div id="navToggleButton" class="pokeball__button">

        </div>
    </div>
    
    
    
    <h1 class="textinho yellow font-lg">MatinhoDéx</h1>
</div>

<nav class="slide" #menuZin>
    <ul>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/home']">INÍCIO</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/pokedex']">POKEDÉX</a></li>
        <li class="contatinho" style="padding-left: 8rem;"><a [routerLinkActive]="['active']">ME CHAMA!</a></li>
    </ul>
</nav>

