.logo {
    width: 200px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.icone-sidebar {
    width: 25%;
}

.sidebar-button {
    height: 40px;
    background-color: white;
    text-align: left;
}

.sidebar-text {
    margin-bottom: 0px;
}