@import "../../../assets/styles/var.scss";

.card {
    width: 18.75rem;
    margin: auto;
    margin-top: 1.3rem;
    background-color: $red;
    margin-bottom: 3.3rem;
}

.header-image {
    background-size: cover;
}

.mat-card-header{
    background-color: $white;
    padding-top: 0.8rem;
    border-radius: 0.8rem;
}

.mat-card-title{
    text-transform: uppercase;
    color: $black;
}

.mat-card-subtitle{
    color: $black;
}
